.center{
    text-align: center;
}
.order-summary-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.order-summary{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    
}
.order-summary-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}